<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/download">Download</a></li>
    <li><a ng-href="#/documentation">Documentation</a></li>
    <li><a ng-href="http://blog.xzero.io">Blog</a></li>
    <li><a ng-href="https://github.com/xzero/x0">Github</a></li>
  </ul>
  <h3 class="text-muted">Xzero HTTP Web Server & Framework</h3>
</div>

<div class="jumbotron">
  <h1>About Xzero</h1>
  <p class="lead">
    It's not just a software!
  </p>
</div>

<div class="row marketing">
  <h4>Xzero is about Usability</h4>
  <p>
    Xzero features a very powerful configuration language, <b>Flow</b>, that makes your <code>x0d</code> HTTP server
    highly flexible. <br/>
    The configuration language as well as the unix tools and configuration files all come with their dedicated
    UNIX manual pages, so that you can read up documentation from everywhere. <br/>

    <ul>
      <li> Very flexible and easily maintainable configuration language: Flow </li>
      <li> Extend the core functionality by loading of custom plugins </li>
      <li> Configurationless instant-mode for quickly serving HTML apps and/or directories. </li>
      <li> Sane and secure defaults </li>
      <li> Minimal dependencies </li>
    </ul>
  </p>

  <h4>Xzero is about Scalability</h4>
  <p>
    Xzero is designed from ground up with scalability, performance and low latency in mind, hence, this
    is why this project has it's name.
    Even though, the bar is raised very high, we still hold tight on our origin goals.
    <ul>
      <li><b>Highly Multithreaded</b>, including CPU core cache level optimizations</li>
      <li><b>Zero Copy Networking</b>, making use of the operating systems kernel APIs as much as possible</li>
      <li><b>Non-Blocking I/O</b>, in order to achieve literally zero latency</li>
    </ul>
  </p>

  <h4>Xzero is about Extensibility</h4>
  <p>
    Xzero is devided into multiple smaller components.
    It features a very slim core and lets you build your application ontop of it.
    <code>x0d</code>, the main HTTP Web Server is the main application build with the Xzero Framework,
    it allows you to extend the core by various standard plugins as well as third party extensions.

    <ul>
      <li> SSL support, including SNI extension </li>
      <li> Dynamic Content Compression </li>
      <li> Advanced Load Balancing, with business grade features</li>
      <li> Basic Authentication </li>
      <li> Directory Listing </li>
      <li> User Directories </li>
      <li> ... and much more ... </li>
    </ul>

    Follow up the <a ng-href="#/documentation/plugins"> Plugin Documentation Index</a> to get a full list.
  </p>

  <h4>Got hooked?</h4>
  <p>
    Check out the <a ng-href="#/download">Download</a> section and give it a try!
  </p>

  <h4>Questions?</h4>
  <p>
    Please do not wait and contact me right away. <a ng-href="mailto:trapni@gmail.com">trapni@gmail.com</a>.
  </p>
</div>

<div class="footer">
</div>
