<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/download">Download</a></li>
    <li class="active"><a ng-href="#/documentation">Documentation</a></li>
    <li><a ng-href="http://blog.xzero.io">Blog</a></li>
    <li><a ng-href="https://github.com/xzero/x0">Github</a></li>
  </ul>
  <h3 class="text-muted">Xzero HTTP Web Server & Framework</h3>
</div>

<div class="jumbotron">
  <h1>Xzero Documentation</h1>
  <p class="lead">
    Learning something new makes us happy all night long.
  </p>
</div>

<div class="row marketing">
  <h3> UNIX Manual Pages </h3>
  <ul>
    <li> <a href='https://github.com/xzero/x0/blob/master/docs/x0d.8.pod'>x0d (8)</a> x0d server executable documentation</li>
    <li> <a href='https://github.com/xzero/x0/blob/master/docs/x0d.conf.5.pod'>x0d.conf (5)</a> configuration file documentation </li>
    <li> <a href='https://github.com/xzero/x0/blob/master/docs/flow.7.pod'>flow (7)</a> Flow language documentation </li>
  </ul>
</div>

<div class="footer">
</div>
