<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/download">Download</a></li>
    <li><a ng-href="#/documentation">Documentation</a></li>
    <li><a ng-href="http://blog.xzero.io">Blog</a></li>
    <li><a ng-href="https://github.com/xzero/x0">Github</a></li>
  </ul>
  <h3 class="text-muted">Xzero HTTP Web Server & Framework</h3>
</div>

<div class="jumbotron">
  <h1>Xzero HTTP Web Platform!</h1>
  <p class="lead">
    Always a pleasure to serve your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/download">Try Out!</a></p>
</div>

<div class="row marketing">
  <h4>2014-04-13, Version 0.9.0 Released</h4>
  <p>
    Most prominent changes include:
    <ul>
      <li> flow: Added support for builtin handler/function overloading. </li>
      <li> flow: Added support for array assignments to variables. </li>
      <li> flow: Added support for unary bit-wise NOT operator. </li>
      <li> flow: Improved internal constant value handling. </li>
      <li> flow: Improved array handling, also resulting into runtime performance boosts and better semantic verifications. </li>
      <li> flow: Improved interpreter loop performance (uses direct threading). </li>
      <li> flow: Improved IR-optimization passes &amp; enabled optimizations by default</li>
      <li> flow: Improved builtin callee user-verification to use (optimized) IR instead of AST now. </li>
      <li> flow: Dropped superfluous VM opcodes. </li>
      <li> flow: Fixes to all boolean operators. </li>
      <li> flow: Fixes use of large integer constants in expressions. </li>
      <li> flow: Fixes "superfluous params" error message. </li>
      <li> x0d: builtin workers() is now overloaded for workers(I)V and workers(i)V; no workers.affinity(i)V anymore. </li>
      <li> x0d: memory resource leak fixes upon program exit. </li>
      <li> x0d: Fixed precompressed() handler. </li>
      <li> plugins: new plugin "access" for basic IP &amp; CIDR network based access control. </li>
      <li> director: Adds an option to directly respond with 503 instead of enqueuing the request when the complete cluster is down. </li>
      <li> director: Fixed bug in HTTP and FastCGI backends that caused hanging client connections on offline backends. </li>
      <li> accesslog: Uses non-blocking log-file writes. Improves performance within the networking code. </li>
      <li> doc: x0d man-page extended to  describe error severities. </li>
    </ul>

    For a complete list of changes, please check <a href="https://github.com/xzero/x0/commits/">https://github.com/xzero/x0/commits/</a>
  </p>

  <h4>2014-03-23, Version 0.8.0 Released</h4>
  <p>
    Most prominent changes include:
    <ul>
      <li> flow: Flow Configuration parser and backend rewritten </li>
      <li> flow: All general statements must end with a <code>;</code> at the end. </li>
      <li> flow: Buildin handler and functions as well as local variables are now strongly typed. </li>
      <li> flow: Adds Cidr notations as literal values for IPv4/IPv6 networks, such as <code>192.168.0.0/16</code> </li>
      <li> flow: Adds nested configuration file parsing, ie. <code>#include "path"</code> </li>
      <li> flow: Adds new keyword <code>match</code> for optimized multi-branch pattern matching </li>
      <li> flow: Native handler/function calling syntax improved to support defaulted and mixed arguments. </li>
      <li> flow: Dropped dependency on LLVM and use a special-purpose virtual machine for running the Flow programs. </li>
      <li> http: Various bug fixes, such as HTTP request buffer management. </li>
      <li> director: Added experimental response object caching support. </li>
      <li> director: Added support for reconfiguring scheduling algorithms (also at runtime). </li>
      <li> director: Fixes 2 bugs related to HTTP/FastCGI backend connection reference counting. </li>
      <li> x0d: "vhost"-plugin removed as the new Flow match-statement syntax is superior. </li>
      <li> x0d: Adds <code>request_header_buffer_size</code> config setup variable. </li>
      <li> x0d: Adds <code>request_body_buffer_size</code> config setup variable. </li>
      <li> x0d: CLI parameters extended and improved. Check <code>x0d --help</code> for details. </li>
      <li> x0d: Adds severity <code>diag</code> for logging diagnostics, generally helpful for web developers and operators. </li>
      <li> x0d: Also added builtin Flow function <code>log.diag(message)</code>. </li>
      <li> doc: manual pages generally improved </li>
    </ul>

    For a complete list of changes, please check <a href="https://github.com/xzero/x0/commits/">https://github.com/xzero/x0/commits/</a>
  </p>

</div>

<div class="footer">
</div>
